<h1 class="tasks-heading">My Tasks</h1>

<table border="1" style="width:75%">
  <tr>
    <th>Description</th>
    <th>Days left</th>
    <th>Complete</th>
  </tr>
  <tr>
    <td>Task 1</td>
    <td>1 day</td>
    <td>Incomplete</td>
  </tr>
</table>
